logger:
  # Optional: default log level (default: shown below)
  default: debug
mqtt:
  enabled: false

cameras:
  local_video:
    ffmpeg:
      inputs:
        - path: /videos/videoplayback.mp4
          input_args: -re -stream_loop -1 -fflags +genpts
          roles:
            - detect
version: 0.14
